#nav { 
  position: fixed;
  border-bottom: 1px solid #dedede;
}

#footer-nav { 
  position:relative;
  border-top: 1px solid #dedede;
}

#nav, #footer-nav {
    height: 80px;
    z-index: 5;
    width: 100%;
    top: 0;
    left: 0;
    overflow-y: hidden;
    
    //background-image: linear-gradient(#ff9d2f, #ff6126);
    background: #fff;
    /*border-bottom-left-radius: 30% 40%;
    border-bottom-right-radius: 30% 40%;*/
  
    .nav-logo {
        @media (min-width: 769px) {}
        @media (max-width: 768px) {}
        width: 236px;
        float: left;
        height: 100%;
    }
    .nav-icona {
        @media (min-width: 769px) {
            display: none;
        }
        @media (max-width: 768px) {}
    }
    .nav-container {
        @media (min-width: 769px) {
            width: calc(100% - 236px);
            float: right;
            height: 100%;
        }
        @media (max-width: 768px) {}
        ul {
            list-style: none;
            display: block;
            text-align: right;
            li {
              display: inline-block;
              a {
                padding: 30px 20px;
                display: block;
                color: #333;
                
              }              
            }
        }
    }
}

footer {
  @media (min-width: 769px) {
      position: fixed;
      bottom: 0;
      left: 0;
  }
  @media (max-width: 768px) {}
  background: #fff;
  height: 80px;
  z-index: 5;
  width: 100%;
}