body, html {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12pt;
  color: #333;
}

a:hover {text-decoration: none;}

main {
  margin: 80px 0 80px 0;
  background: #fff;
}

.page {
	position: relative;
	width: 100%;
	height:100vh;
    display: flex;
	
	.page-element {
		height: 100%;
		
		.page-title {
			/*transform: rotate(-90deg);
			transform-origin: left top 0;
			float: left;*/
			
			/*-webkit-transform: rotate(-90deg);
		  -moz-transform: rotate(-90deg);
		  -ms-transform: rotate(-90deg);
		  -o-transform: rotate(-90deg);
		  transform: rotate(-90deg);

		  -webkit-transform-origin: 50% 50%;
		  -moz-transform-origin: 50% 50%;
		  -ms-transform-origin: 50% 50%;
		  -o-transform-origin: 50% 50%;
		  transform-origin: 50% 50%;

		  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
			
			width: 100%;
			background: #fff;
			height: 150px;
		}
	}
  .page-element-details {
    background: #fff;
    height: 100%;
    //padding: 20px 0 0 0;
    
    .page-details-title {
      margin-left: -15px;
      width: calc(100% + 30px);
      padding: 15px;
      background: #EFEFEF;
    }
  }

  .page-element-background {
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

.page-element-background-jurajska {background-image: url(../img/sites/jurajska.jpg);}
.page-element-background-atrigran {background-image: url(../img/sites/atrigran.jpg);}
.page-element-background-avenida {background-image: url(../img/sites/avenida.jpg);}
.page-element-background-onemove {background-image: url(../img/sites/onemove.jpg);}
.page-element-background-gabiony {background-image: url(../img/sites/gabiony.jpg);}
.page-element-background-beabeleza {background-image: url(../img/sites/beabeleza.jpg);}
.page-element-background-makewonder {background-image: url(../img/sites/makewonder.jpg);}
.page-element-background-wonderpolska {background-image: url(../img/sites/wonderpolska.jpg);}
.page-element-background-luvena {background-image: url(../img/sites/luvena.jpg);}

.page-spacer {
  position: relative;
  height: 50px;
  background-color: #ff;
}

.linespacer { 
  height: 1px;
  background: #EFEFEF;
  width: 100%;
  margin: 20px 0;
}